<?php
/*

You have to create an Database and fill in the database information and remove the ".example"
extention from this from, to connect and run URI/firstInstall i order to get it runing.

*/
return[
    'database' => [
        'dbname' => '',
        'dbusername' => '',
        'dbpassword' => '',
        'connection' => 'mysql:host=127.0.0.1',
        'options' => [
            PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION
        ]
    ]
];
